@import '~office-ui-fabric-react/dist/sass/References.scss';
:global {
  #workbenchPageContent,
  .CanvasComponent.LCS .CanvasZone {
    max-width: 100% !important;
  }
}
.storyBrowser {
  display: block;
  max-width: 1140px;
  margin: auto;
  @media all and (max-width: 1260px) {
    max-width: 740px;
  }
  @media all and (max-width: 700px) {
    max-width: 320px;
  }
}
.storyBrowser input{
  font-family:Segoe UI, Arial, sans-serif;
  border:0px;
  font-size:17px;
}
.storyBrowser input::placeholder{
  color:#333;
  font-size:17px;
}
.welcome {
  text-align: center;
}
.welcomeImage {
  width: 100%;
  max-width: 420px;
}
.filters{
  font-size:15px;
}
.filters li{
  font-size:15px;
}
.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only
    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}
#storyBrowser{
  display:flex;
}
textarea:focus, input:focus{
outline: none;
}
body{
  font-family:Segoe UI, Arial, sans-serif;
  
}
#filters{
  width:1142px;
  margin:auto;
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  margin-top:30px;
  margin-bottom:30px;
  max-width: 100%;
}
.filtersContainer{
  width: 1142px;
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  margin-top:30px;
  max-width:100%;
  align-items: flex-end;
  margin-bottom: 30px;
}
.filtersContainer ul{
  list-style: none;
  padding-left: 0;
  margin-bottom:20px;
  margin-top:4px;
}
#filters > .filters{
  border-bottom: 2px solid #0078D7;
  margin-right:20px;
  padding:10px 20px;
  max-width:100%;
}
.filtersSearch i{
  margin-left:-30px!important;
  transform: scaleX(-1);
}
.partnerSearch::placeholder{
  color:#333!important;

}
.filterSearch input{
  font-family:Segoe UI, Arial, sans-serif;
  border:0px;
  font-size:17px;
  color:#333;
  width:230px;
  &::placeholder{
    color:#333;
    font-size:17px;
  }
}
#filters input:focus{
  background:none;
}
.activate{
  background-repeat: no-repeat;
  background-position: 100%;
  margin-right: 20px;
  padding: 5px 0 5px 20px;
  max-width: 100%;
  font-size: 17px;
  line-height: 22px;
  color: #333;
  // margin-bottom: -5px !important;
  padding-left: 0px;
  border-bottom:0px;
  @media all and (max-width: 800px) {
    i {
      position: absolute;
      right: 5px;
    }
  }
}
.activate:hover{
  cursor:pointer;
}
.filtersSearch{
  background-repeat: no-repeat;
  background-position: right;
  border-bottom: 1px solid #0078D7;
  margin-right:20px;
  padding:0px 20px;
  max-width:100%;
  padding-left:0px;
  height: 100%;
  position: relative;
  @media all and (max-width: 800px) {
    i {
      position: absolute;
      right: 5px;
      bottom: 8px;
    }
  }
}
.filtersSearch input{
  font-size: 17px;
  line-height: 22px;
  height: 32px;
}
.filtersSearch input::placeholder{
  color:#333;
  font-size:17px;
}

.filtersDropdown{
  border-bottom: 1px solid #0078D7;
  margin-right:20px;
  // margin-left:60px;
  font-size:17px;
  font-family:Segoe UI, Arial, sans-serif;
  position:relative;
  height: 100%;
}
.filtersSearch input{
  width:230px;
}
.filtersDropdown .filters{
  position:absolute;
  display:flex;
  flex-direction:row;
  background:#FFF;
  top:0px;
  width:100%;
  padding:20px;
  -webkit-box-shadow: 1px 5px 10px 1px rgba(0,0,0,0.4); 
box-shadow: 1px 5px 10px 1px rgba(0,0,0,0.4);
display:none;
left:0px;
  max-width:500px;
padding-bottom:40px;
}

.filtersOptions{
  display:flex;
}
.filtersOptions .FirstRow{
  margin-right:10px;
}
.show .filters{
  display:flex!important;
  animation: fadeIn .5s;
-webkit-animation: fadeIn .5s;
-moz-animation: fadeIn .5s;
-o-animation: fadeIn .5s;
-ms-animation: fadeIn .5s;
flex-direction:column;
background:#FFF;
width:500px;
top:50px;
z-index:9999;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
.uncheck{
  margin-bottom:14px;
  background:none;
  border:0px;
  max-width:200px;
  font-size:15px;
  text-align: left;
  padding-left: 5px;
  &:before {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 2px;
    background: #F1F1F1;
    vertical-align: baseline;
    margin-right: 5px;
    border: 1px solid
  }
}
.uncheck:hover{
cursor:pointer;
}
.filters > div{
margin-right:20px;
}
.filters ul li{
  list-style:none;
  text-indent:none;

}
#filters .filtersSearch{
  width:400px;
  max-width:100%;
}
.filterOptions{
  display:flex;
  flex-direction:row;
  label {
    line-height: 22px;
    input {
      margin-right: 5px;
    }
    > div {
      width: calc(100%-40px);
      display: inline-block;
      vertical-align: top;
    }
  }
}
.featuredItems{
  max-width:100%;
  margin:auto;
  // background:#F5F5F5;
  border-bottom: 1px solid #E7E7E7;
  margin-bottom: 40px;
}
.featuredItems h4{
  font-family: Segoe UI,Arial,sans-serif;
  font-size: 22px;
  font-weight: 400;
  // padding-left: 20px;
  margin-bottom: 20px;
  // margin-top: 20px;
  // margin-left: 60px;
  display: block;
  padding-top: 30px;
}
.filtersContainer .sortResults{
  border:0px;
  font-size:17px;
  font-family:Segoe UI, Arial, sans-serif;
  display:flex;
  margin-left:auto;
  // margin-right:70px; MDBF: Why?
  p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 35px;
  }
}
.sortBtn{
  background:none;
  border:none;
  padding-right:10px;
  font-size:17px;
  font-family:Segoe UI, Arial, sans-serif;
  margin-right:20px;
  //-moz-appearance:none; /* Firefox */
  // -webkit-appearance:none; /* Safari and Chrome */
  // appearance:none;
}
.items{
  display:flex;
  width: 1142px;
  
  flex-direction:row;
  flex-wrap:wrap;
  max-width:100%;
  // padding:20px; MEBF no
  // padding-left:60px; MEBF no
  justify-content: space-between;
  gap: 20px 90px;
  @media all and (max-width:1480px){
    gap: 10px 30px;
  }
  &:after {
    content: "";
    flex: auto;
    width: 320px;
  }
}
.viewBtn i{
  font-size:12px;
}
.viewBtn{
  display:flex;
  height:50px;
  position:relative;
}
.viewBtn a{
  position:absolute;
  right:0;
  bottom:0;
}
.item{
 width: 320px;
 display:flex;
 flex-direction:column;
max-width:320px;
padding-bottom:20px;
  @media all and (min-width: 1260px) {
    width: calc(33% - 45px);
  }
}
.item img{
  margin-bottom:16px;
}
.viewStory i{

  font-weight:bold;
 
}
.item{
  a{
    font-weight:600;
    font-family:Segoe UI, Arial, sans-serif;
    font-size:18px;
    text-decoration:none;
    color:#0078D7;
    margin-bottom:12px;
    &.viewStory{
      text-decoration:none;
      font-family:Segoe UI, Arial, sans-serif;
      font-size:15px;
      font-weight:600;
      line-height: 20px;
      margin-top:20px;
      color:#0078D7;
    }
  }
}
.item strong{
  font-weight:600;
}
.itemTitle{
  font-weight:600;
  font-family:Segoe UI, Arial, sans-serif;
  font-size:18px;
  color:#0078D7;
  margin-bottom:12px;
  text-decoration:none;
}
.item{
  color:#707070!important;
}
.itemSolution{
  background:none;
}
.itemPartner{
  background:none;
}
.itemIndustry{
  background:none;
}
.itemType{
  background:none;
}
i[data-icon-name="Search"]{
  font-size: 14px;
  margin-left: 8px;
}
i[data-icon-name="ChevronDown"]{
  font-size: 14px;
  margin-left: 8px;
}
.item{
  p{
    font-family:Segoe UI, Arial, sans-serif;
    font-size:15px;
    line-height:22px;
    margin:0px;
    &.itemDate {
      strong{
        color:#000;
        font-size:16px;
      }
    }
  }
} 
.itemList{
  padding:20px;
}
input[type=checkbox] {  
background:#F1F1F1;
border:1px solid #F1F1F1;
}
@media all and (max-width:1260px){
  .filtersContainer {
    .sortResults {
      margin-left: unset;
      margin-top: 10px;
      width: 100%;
    }
    .filtersDropdown{
      .activate {
        margin-right: 0;
      }
    }
    .filtersSearch {
      padding-right: 0;
    }
}
}
@media all and (max-width:800px){
  .item{
  //  width:80%;
 
  }
  .items{
    padding:0px;
  }
  .filterContainer{
    flex-direction:column;
    padding:0px;
  }
  .show .filters{
    flex-direction:column;
    box-shadow:none!important;
    position:relative!important;
    top:3px!important;
    background:#FFF;
    padding: 0px;
    margin-top: 20px;
    
  }
  .filtersDropdown{
    width:100%;
    margin:0px;
    margin-bottom:20px;
    padding: 1px;
  }
  .filtersSearch{
    width:100%;
    margin:0px;
    margin-bottom:20px;
  }
  .sortResults{
    width:100%;
    margin:0px!important;
    margin-bottom:20px;
  }
  #filters .filtersContainer{
    flex-direction:column;
    padding:0px;
  }
  .featuredItems h4{
    margin:0px;
    margin-bottom:20px;
  }
  .uncheck{
    margin-left:-8px!important;
  }
  .filtersDropdown{
    border:0px;
  }
  .activate{
    border-bottom:1px solid #0078d7;
  }
}
@media all and (max-width:700px){
  #filters div{
      width:80%!important;
      margin-top:20px;
  }
  #filters{
      max-width:90%;
  }
 
  .items{
      flex-direction:column;
      justify-content:space-between;
      align-items:center;
  }
}
