@import '~office-ui-fabric-react/dist/sass/References.scss';
#storyBrowser{
  display:flex;
}
.storyBrowser {
  display:flex;
}
.storyBrowser input{
  font-family:Segoe UI, Arial, sans-serif;
  border:0px;
  font-size:16px;
}
.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}


#storyBrowser{
  display:flex;
}

textarea:focus, input:focus{
outline: none;
}
body{
  font-family:Segoe UI, Arial, sans-serif;
  
}
#filters{
  width:1080px;
  margin:auto;
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  margin-top:30px;
  margin-bottom:30px;
}
#filters > .filters{
  border-bottom: 2px solid #0078D7;
  margin-right:20px;
  padding:10px 20px;
  max-width:100%;
}
#filters input{
  font-family:Segoe UI, Arial, sans-serif;
  border:0px;
  font-size:16px;

}

#filters input:focus{
  background:none;
}
.activate{
  background-repeat: no-repeat;
  background-position: right;
  border-bottom: 2px solid #0078D7;
  margin-right:20px;
  padding:10px 20px;
  max-width:100%;
}
.filtersSearch{
  background-repeat: no-repeat;
  background-position: right;
  border-bottom: 2px solid #0078D7;
  margin-right:20px;
  padding:10px 20px;
  max-width:100%;
}
#filters .filtersDropdown{
  width:320px;
  max-width:100%;
  font-size:16px;
  font-family:Segoe UI, Arial, sans-serif;
  position:relative;
}
.filtersDropdown .filters{
  position:absolute;
  display:flex;
  flex-direction:row;
  background:#FFF;
  top:155%;
  width:100%;
  padding:20px;
  -webkit-box-shadow: 1px 5px 10px 1px rgba(0,0,0,0.4); 
box-shadow: 1px 5px 10px 1px rgba(0,0,0,0.4);
display:none;
left:0px;
padding-bottom:40px;
}
.show .filters{
  display:flex!important;
  animation: fadeIn .5s;
-webkit-animation: fadeIn .5s;
-moz-animation: fadeIn .5s;
-o-animation: fadeIn .5s;
-ms-animation: fadeIn .5s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
.uncheck{
  margin-bottom:10px;
}
.uncheck:hover{
cursor:pointer;
}
.filters > div{
margin-right:20px;
}
.filters ul li{
  list-style:none;
  text-indent:none;
  margin-top:10px;
}
#filters .filtersSearch{
  width:400px;
  max-width:100%;
}
#featuredItems{
  width:1080px;
  max-width:100%;
  margin:auto;
  background:#F5F5F5;
  padding:20px;
 
}
#featuredItems h4{
  font-family:Segoe UI, Arial, sans-serif;
  font-size:22px;
  font-weight:normal;
  padding-left:20px;
  margin-bottom:0px;
}
#filters .sortResults{
  border:0px;
  font-size:16px;
  font-family:Segoe UI, Arial, sans-serif;
}
.sortBtn{
  background-repeat: no-repeat;
  background-position: right;
   background-size:20px;
  border:none;
  padding-right:25px;
  font-size:17px;
  font-family:Segoe UI, Arial, sans-serif;
  margin-right:10px;
}
.items{
  display:flex;
  width: 1080px;
  margin:auto;
  flex-direction:row;
  justify-content:center;
  flex-wrap:wrap;
  max-width:100%;
}
.item{
 width: 320px;
}
.item{
 display:flex;
 flex-direction:column;

max-width:320px;
padding:20px;
}
.item img{
  margin-bottom:16px;
}
.itemTitle{
  font-weight:bold;
  font-family:Segoe UI, Arial, sans-serif;
  font-size:18px;
  color:#0078D7;
  margin-bottom:10px;
}
.item p{
  font-family:Segoe UI, Arial, sans-serif;
  font-size:18px;
  margin-top:6px;
}
@media all and (max-width:700px){

  #filters div{
      width:80%!important;
      margin-top:20px;
  }
  #filters{
      max-width:90%;
  }
  .items{
      flex-direction:column;
      justify-content:space-between;
      align-items:center;
  }
}

